/* body styling */
*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(245, 241, 241);
}
nav{
    display: flex;
    padding: 2em;
    background-color: limegreen;
}
li{
    background-color: limegreen;
    padding: 6px;
    text-decoration: none;
    list-style: none;

}
div.main{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.left{
    position: relative;
    left: 30px;
}
.aside-main{
    margin: 60px;
}